.cards {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 20px;
    background-color: #2ea3f2;
    color: white;
    text-decoration: none;
}

.card:hover {
    background-color: #666;
}